# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Config & secrets
config.yaml

# CLI history
.my_cli_history

# OS files
.DS_Store

# IDE files
.vscode/
.idea/

Practice